<a href="https://colab.research.google.com/github/Spidey2332/Act-1-y-2/blob/main/Extraccion.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Importamos librer√≠as requeridas
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import io

In [ ]:
#cargar archivo csv desde equipo
from google.colab import files
files.upload()

In [ ]:
#convertir en dataframe
df= pd.read_csv("CountryTable.csv")
df

In [ ]:
#filtro por objeto de la columna name de la fila zimbabwe
filtro1=df[df["name"] == "Zimbabwe"]
filtro1

In [ ]:
#filtro por objeto de la columna continente de la fila asia
filtro12=df[df["continent"] == "Asia"]
filtro12

In [ ]:
#filtro por filas, de la fila 0 a la 200
filtro21= df.iloc[0:200, : ]
filtro21

In [ ]:
#filtro por filas. Se filtra la fila 43, 68 y 71
filtro22=df.iloc[[43, 68, 71], : ] #filas no consecutivas
filtro22

,code,name,continent,region,surface_area,independence_year,population,life_expectancy,gnp,gnp_old,local_name,government_form,head_of_state,capital,code2
43,CMR,Cameroon,Africa,Central Africa,475442.0,1960.0,15085000,54.8,9174.0,8596.0,Cameroun/Cameroon,Republic,Paul Biya,1804.0,CM
68,ETH,Ethiopia,Africa,Eastern Africa,1104300.0,-1000.0,62565000,45.2,6353.0,6180.0,YeItyop iya,Republic,Negasso Gidada,756.0,ET
71,FLK,Falkland Islands,South America,South America,12173.0,NaN,2000,NaN,0.0,NaN,Falkland Islands,Dependent Territory of the uK,Elisabeth II,763.0,FK

In [ ]:
#Filtro por columnas. Se filtro la columna 3 y 5
filtro31=df.iloc[ : , 3:5]
filtro31

                        region  surface_area
0                    Caribbean         193.0
1    Southern and Central Asia      652090.0
2               Central Africa     1246700.0
3                    Caribbean          96.0
4              Southern Europe       28748.0
..                         ...           ...
234                Middle East      527968.0
235            Southern Europe      102173.0
236            Southern Africa     1221037.0
237             Eastern Africa      752618.0
238             Eastern Africa      390757.0

[239 rows x 2 columns]

In [ ]:
#Filtro por columnas
filtro32=df.iloc[ : , [1,3,5]] #columnas no consecutivas
filtro32
#Se filtraron las columnas 1, 3 y 5

             name                     region  independence_year
0           Aruba                  Caribbean                NaN
1     Afghanistan  Southern and Central Asia             1919.0
2          Angola             Central Africa             1975.0
3        Anguilla                  Caribbean                NaN
4         Albania            Southern Europe             1912.0
..            ...                        ...                ...
234         Yemen                Middle East             1918.0
235    Yugoslavia            Southern Europe             1918.0
236  South Africa            Southern Africa             1910.0
237        Zambia             Eastern Africa             1964.0
238      Zimbabwe             Eastern Africa             1980.0

[239 rows x 3 columns]

In [ ]:
#filtro por columnas y por filas
filtro_mix=df.iloc[ [43,68,71] , 3:5]
filtro_mix
#Se filtraron las columnas 3 y 5; y las filas 43, 68 y 71

            region  surface_area
43  Central Africa      475442.0
68  Eastern Africa     1104300.0
71   South America       12173.0

In [ ]:
#filtro por columnas y por filas
filtrofresh=df.iloc[ : , [1,3,5]] #columnas no consecutivas
filtrofresh
#se filtrearon columnas no consecutivas (1, 3 y 5)

             name                     region  independence_year
0           Aruba                  Caribbean                NaN
1     Afghanistan  Southern and Central Asia             1919.0
2          Angola             Central Africa             1975.0
3        Anguilla                  Caribbean                NaN
4         Albania            Southern Europe             1912.0
..            ...                        ...                ...
234         Yemen                Middle East             1918.0
235    Yugoslavia            Southern Europe             1918.0
236  South Africa            Southern Africa             1910.0
237        Zambia             Eastern Africa             1964.0
238      Zimbabwe             Eastern Africa             1980.0

[239 rows x 3 columns]

In [ ]:
#Filtro de filas vs columnas
#Paso 1: Leemos el contenido del archivo
from google.colab import files
uploaded=files.upload()
df=pd.read_csv(io.BytesIO(uploaded['CountryTable.csv']), index_col=3)
df

In [ ]:
#Filtro de filas vs columnas
#Paso 1: Leemos el contenido del archivo
from google.colab import files
uploaded=files.upload()
df=pd.read_csv(io.BytesIO(uploaded['CountryTable.csv']), index_col=1)
df
#Paso 2: Aplicamos filtro de filas vs columnas
filtro4=df.loc[["Aruba","Angola"], ["region"]]
filtro4
#Filtramos Aruba y Angola de filas y en columnas la region

In [ ]:
#Filtro de filas vs columnas
#Paso 1: Leemos el contenido del archivo
from google.colab import files
uploaded=files.upload()
df=pd.read_csv(io.BytesIO(uploaded['CountryTable.csv']), index_col=11)
df
#Paso 2: Aplicamos filtro de filas vs columnas
filtro42=df.loc[["Republic","Socialistic Republic"], ["population"]]
filtro42 
#Aplicamos el filtro de filas para obtener republicas y republicas socialistas y en cuanto a columnas la poblaci√≥n

In [ ]:
#Filtro por cabecera
filtro51=df.head(4)
filtro51
#Filtramos los primeros cuatro datos

In [ ]:
#Filtro por cabecera
filtro52=df.head(3)
filtro52
#filtramos los primeros tres datos de la tabla

In [ ]:
#Filtro por comparacion
filtro61=df[df["continent"] == "Africa"]
filtro61
#filtramos la columna de continente para solo obtener la de Africa

In [ ]:
#Filtro por comparacion
filtro62=df[df["name"] == "Angola"]
filtro62
#filtramos la columna name para solo obtener datos de Angola

In [ ]:
#Filtro Y
filtro71=df[(df["independence_year"] == 1960) & (df["continent"] =="Africa") & (df["region"] == "Central Africa")]
filtro71
#filtramos que el a√±o de independencia sea solo para 1960 que el continente sea solo Africa y que la region solo sea para Central Africa

In [ ]:
#Filtro Y
filtro72=df[(df["capital"] > 902) & (df["life_expectancy"]>50) & (df["gnp"] < 6000)]
filtro72
#Filtramos que el capital nos de solo para mayores a 902 al igual que life expentancy >50 y que GNP sea para menores de 6000

In [ ]:
#Filtro 8
filtro81=df[(df["continent"]== "Oceania") | (df["capital"] > 2000)]
filtro81
#Se filtraron todos los datos que fueran de oceania o que su capital fuera mayor a 2000

In [ ]:
#Filtro 8
filtro82=df[(df["life_expectancy"] <50) | (df["continent"]=="Oceania")]
filtro82
#Se obtuvieron todos los datos que tuvieran una expectativa de vida menor a 50 o que fueran de ocean√≠a

In [ ]:
#Filtro not
filtro91=df[~(df["continent"]=="Africa") & ~(df["head_of_state"]== "Elisabeth II")]
filtro91
#Todos los datos que no sean del continente de √Åfrica  y que la cabeza de estado no fuera Elisabeth II

In [ ]:
#Filtro not
filtro92=df[~(df["code"]=="COK") & ~(df["name"]== "Yugoslavia")]
filtro92
#Todos los datos que no fueran de c√≥digo COK y que tampoco fuera Yugoslavia

In [ ]:
#Convertir archivo filtrado a CSV
filtro1.to_csv("filtro1.csv")
filtro12.to_csv("filtro12.csv")
filtro21.to_csv("filtro21.csv")
filtro22.to_csv("filtro22.csv")
filtro31.to_csv("filtro31.csv")
filtro32.to_csv("filtro32.csv")
filtro_mix.to_csv("filtromix.csv")
filtrofresh.to_csv("filtrofresh.csv")
filtro4.to_csv("filtro4.csv")
filtro42.to_csv("filtro42.csv")
filtro51.to_csv("filtro51.csv")
filtro52.to_csv("filtro52.csv")
filtro61.to_csv("filtro61.csv")
filtro62.to_csv("filtro62.csv")
filtro71.to_csv("filtro71.csv")
filtro72.to_csv("filtro72.csv")
filtro81.to_csv("filtro81.csv")
filtro82.to_csv("filtro82.csv")
filtro91.to_csv("filtro91.csv")
filtro92.to_csv("filtro92.csv")

In [ ]:
#Descargar archivo filtrado en csv
from google.colab import files

files.download("filtro1.csv")
files.download("filtro12.csv")
files.download("filtro21.csv")
files.download("filtro22.csv")
files.download("filtro31.csv")
files.download("filtro32")
files.download("filtromix")
files.download("filtrofresh")
files.download("filtro4")
files.download("filtro42")
files.download("filtro51")
files.download("filtro52")
files.download("filtro61")
files.download("filtro62")
files.download("filtro71")
files.download("filtro72")
files.download("filtro81")
files.download("filtro82")
files.download("filtro91")
files.download("filtro92")